---
layout: post
---

<div class="home">

  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% assign prevdate = "" %}
    {% for page in site.posts %}
      <li>
        {% if page.date != prevdate %}
        <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
            {% include page_title.html %}
          </a>
        </h2>
      </li>
      {% assign prevdate = page.date %}
    {% endfor %}
  </ul>

</div>
